<!DOCTYPE html>
<html{% block html %}{% endblock %}>
    <head>
        <meta charset="utf-8">
        <title>Sleepy space::{% block page_title %}Home{% endblock %}</title>

        {% load staticfiles %}

        <link rel="shortcut icon" type="image/png" href="{% static 'img/pillow.png' %}"/>

        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        {% endblock %}

        {% block scripts %}
        <script src="{% static 'angular/angular.min.js' %}"></script>
        <script src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
        <script src="{% static 'js/api.js' %}"></script>
        {% endblock %}

        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="bar">
            <div id="bar-left">
                <h1><a href="{% url 'index' %}">Sleepy space</a></h1>
                <p id="subtitle">Some site that logs sleep</p>
            </div>
            <div id="bar-right">
                {% block bar_right %}{% endblock %}
            </div>
        </div>
        <div id="page">
            <h1 id="title">Sleepy space</h1>

            {% if messages %}
            <ul id="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="status-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block content %}<p>I am a shallow existence.</p>{% endblock %}
            <div id="footer">
                <div class="footer-right">
                    <p>Some site that logs sleep. It sucks btw.</p>
                    <p>Use at own risk.</p>
                </div>
                <div class="footer-left">
                    <p>Bitcoin donation address: <strong>1FqLv1fWkptmXbDenBrEBJ7hKCAZeK374B</strong></p>
                    <p>The donations will only go towards hosting the site.</p>
                </div>
            </div>
        </div>
    </body>
</html>
