{% extends "base.html" %}
{% load staticfiles %}


{% block html %} ng-app="RegistrationHelper"{% endblock %}


{% block scripts %}
{{ block.super }}
<script src="{% static 'js/registration-helper.js' %}"></script>
{% endblock %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
{% endblock %}


{% block content %}
<p>Log your sleep on a daily basis - see some fancy graphs and statistics. Maybe you'll see some interesting patterns. Bare minimum features for simplicity. The primary feature is succeeding <a href="http://readwrite.com/2009/02/26/yawnlog_a_social_sleep_tracker">yawnlog</a> (actual website is down).</p>
<p><em>We don't care about your data</em>&trade; means you can be sure you aren't being tracked (we don't even ask for your email). In fact, data safety is not guaranteed - backing up using the built-in export function is recommended.</p>
<p><strong>If you're curious about the features, take a look at the <a href="{% url 'overview' %}">application overview</a></strong>.</p>

<div id="forms">

<div id="register">
    <h1>Register</h1>
    <form method="post" action="{% url 'register' %}" ng-controller="regController">
        <label for="username">Username</label>
        <input type="text" name="username" ng-model="username" ng-class="{ good: usernameGood(), bad: usernameBad() }"{% if request.GET.register_username %} ng-init="username = '{{ request.GET.register_username }}'" autofocus{% endif %}>
        <p class="error" ng-class="{ visible: usernameBad() }">{$ username_error || '&nbsp;' $}</p>

        <label for="password">Password</label>
        <input type="password" name="password" ng-model="password" ng-class="{ good: passwordGood(), bad: passwordBad() }">
        <p class="error" ng-class="{ visible: passwordBad() }">{$ password_error || '&nbsp;' $}</p>

        <label for="password2">Password (again)</label>
        <input type="password" name="password2" ng-model="password2" ng-class="{ good: password2Good(), bad: password2Bad() }">
        <p class="error" ng-class="{ visible: password2Bad() }">{$ password2_error || '&nbsp;' $}</p>

        <label for="remember">Remember me</label>
        <input type="checkbox" name="remember">

        <input type="submit" value="Register" />
        {% csrf_token %}
    </form>
</div>

<div id="login">
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        <label for="username">Username</label>
        <input type="text" name="username"{% if request.GET.login_username %} value="{{ request.GET.login_username }}"{% endif %} {% if not register_username %}autofocus{% endif %}>
        <p class="error">.</p>{# for spacing #}

        <label for="password">Password</label>
        <input type="password" name="password">
        <p class="error">.</p>{# for spacing #}

        <label for="remember">Remember me</label>
        <input type="checkbox" name="remember">

        <input type="hidden" name="next" value="{{ request.GET.next }}">

        <input type="submit" value="Login" />
        {% csrf_token %}
    </form>
</div>

</div>
{% endblock %}
