{% extends "base.html" %}
{% load staticfiles %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/overview.css' %}" />
{% endblock %}


{% block page_title %}Overview{% endblock %}


{% block bar_right %}
<ul>
    <li>
        <a href="#">Export</a>
        <p class="note export">You may also export your data as a CSV file.</p>
    </li>
</ul>
{% endblock %}


{% block content %}
<p class="note">So you're interested in the features? You've come to the right place.<br>At the top, you have your sleep bar, letting you easily edit and create individual sleeps.</p>
<img class="fill-width" src="{% static 'img/overview/bar.png' %}" alt="Sleep bar screenshot" />

<p class="note">At the bottom you see a chart that summarizes your sleeps over time. You may view stats for intervals up to a year.</p>
<img class="fill-width" src="{% static 'img/overview/chart.png' %}" alt="Sleep chart screenshot" />

<p class="note">More features could be added in the future that use your historical sleep data.<br>If this sounds like something you're interested in, <a href="{% url 'home' %}">please register</a>.</p>
{% endblock %}
