{% extends "user-base.html" %}
{% load staticfiles %}


{% block page_title %}Preferences{% endblock %}


{% block html %} ng-app="RegistrationHelper"{% endblock %}


{% block scripts %}
{{ block.super }}
<script src="{% static 'js/registration-helper.js' %}"></script>
{% endblock %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/prefs.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
{% endblock %}


{% block content %}
<p>Update your account settings</p>
<section class="info">
    <h3>Profile Settings</h3>
    <p>The timezone is the only setting available at the moment.</p>
    <form method="POST" action="{% url 'prefs_save' %}">
        <select name="timezone">
        {% for tz in timezones %}
            <option{% if tz.lower == request.user.userprofile.timezone.lower %} selected{% endif %}>{{ tz }}</option>
        {% endfor %}
        </select>

        <input type="submit" value="Save">
        {% csrf_token %}
    </form>
</section>

<section class="info">
    <h3>Change Password</h3>
    <form method="POST" action="{% url 'prefs_save_password' %}" ng-controller="regController" id="password-form">
        <label for="password">Password</label>
        <input type="password" name="password" ng-model="password" ng-class="{ good: passwordGood(), bad: passwordBad() }">
        <p class="error" ng-class="{ visible: passwordBad() }">{$ password_error || '&nbsp;' $}</p>

        <label for="password2">Password (again)</label>
        <input type="password" name="password2" ng-model="password2" ng-class="{ good: password2Good(), bad: password2Bad() }">
        <p class="error" ng-class="{ visible: password2Bad() }">{$ password2_error || '&nbsp;' $}</p>

        <input type="submit" value="Save">
        {% csrf_token %}
    </form>
</section>
{% endblock %}
