{% extends "user-base.html" %}
{% load staticfiles %}
{% load mathfilters %}


{% block html %} ng-app="SleepHelper" ng-controller="editController as c" ng-mouseup="c.mouseUp($event)"{% endblock %}


{% block page_title %}User Home{% endblock %}


{% block scripts %}
{{ block.super }}
<script src="{% static 'js/sleep-helper.js' %}"></script>
<script src="{% static 'js/sleep-stats.js' %}"></script>
<script src="{% static 'moment/min/moment.min.js' %}"></script>
<script src="{% static 'moment-timezone/moment-timezone.js' %}"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'jquery-ui/ui/core.js' %}"></script>
<script src="{% static 'jquery-ui/ui/datepicker.js' %}"></script>
<script src="{% static 'flot/jquery.flot.js' %}"></script>
<script src="{% static 'angular-flot/angular-flot.js' %}"></script>

<script type="text/javascript">
    $(function() {
        var angular_trigger = function(val) { angular.element(val).triggerHandler('input'); }

        $.datepicker.setDefaults({
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: "yy-mm-dd",
            onSelect: function() { angular_trigger(this); } // required for angular model to pick up the changes
        });

        $("#datepicker").datepicker();

        $(".chart-datepicker").datepicker({});
        angular_trigger($("#chart-start").get());
        angular_trigger($("#chart-end").get());
    });
</script>
{% endblock %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/sleep.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/themes/overcast/jquery-ui.min.css' %}" />
{% endblock %}


{% block content %}
<p>Yay, logged in as <strong>{{ request.user.username }}</strong>.</p>

<div id="edit-area">
    <div class="buttons">
        <button ng-click="c.reset()" ng-show="!loading && c.canReset()">Reset</button>
        <button ng-click="c.save()" ng-show="!loading && c.canReset()">Save Changes</button>
        <input ng-model="cal_date" type="text" id="datepicker" readonly>
        <button ng-click="!loading && c.goToDate(cal_date)">Go</button>
        <button ng-click="!loading && c.resetPos()">Now</button>
    </div>

    <div
        id="sleep-bar"
        ng-mousemove="c.mouseMove($event)"
        ng-mousedown="c.startDragBar()"
        ng-dblclick="c.createNewSleep($event)"
        ng-init="c.midnight = {{ midnight|mul:1000 }}; c.tz = '{{ request.user.userprofile.timezone }}'; tz_url = '{% static 'moment-timezone/data/packed/latest.json' %}'">

        <div
            class="loading"
            ng-init="loading = true"
            ng-show="loading"
            ng-mousedown="loading && $event.stopPropagation()"
            ng-dblclick="loading && $event.stopPropagation()">
        </div>

        <div class="midnight" ng-style="{ left: c.calcStartPct({ start: c.getMidnightLeft() }) }">
            <p>{$ c.formatMidnight(c.getMidnightLeft()) $}</p>
        </div>

        <div class="midnight" ng-style="{ left: c.calcStartPct({ start: c.getMidnightRight() }) }">
            <p>{$ c.formatMidnight(c.getMidnightRight()) $}</p>
        </div>

        <div
            class="sleep"
            ng-class="{ edited: sleep.old }"
            ng-repeat="sleep in c.sleeps | filter: c.isVisible"
            ng-style="{ left: c.calcStartPct(sleep), width: c.calcWidthPct(sleep) }"
            ng-mousedown="c.startDragSleep(sleep.id, $event)">

            <p class="start marker">{$ c.formatTime(sleep.start) $}</p>
            <p class="hours">
                <a class="delete" ng-click="c.deleteSleep(sleep.id)">Delete</a>
                <span>{$ c.calcHrs(sleep) $}</span>
            </p>
            <p class="end marker">{$ c.formatTime(sleep.end) $}</p>

            <div class="drag-bar left" ng-mousedown="c.resizeSleepStart(sleep.id, $event)"></div>
            <div class="drag-bar right" ng-mousedown="c.resizeSleepEnd(sleep.id, $event)"></div>
        </div>
    </div>
</div>

<section class="info">
    <h2>Quick start</h2>
    <ul>
        <li>The bar is a timeline of your logged sleeps</li>
        <li><strong>Update your timezone settings in the <a href="{% url 'prefs' %}">preferences</a></strong></li>
        <li>Sleeps can be added, deleted or updated</li>
        <li>You can drag or jump to any point in time</li>
        <li><strong>To create a new sleep, double click where you want it to be placed</strong></li>
        <li>Hovering your cursor over any sleep will show duration and handles for dragging</li>
        <li>Hover over the duration label for the delete button</li>
        <li>Unsaved sleeps are highlighted red</li>
        <li>Jumping on the timeline resets unsaved changes</li>
    </ul>
</section>

<div ng-controller="Chart as c">
    <div class="chart-dates">
        from
        <input class="chart-datepicker" ng-model="c.start" id="chart-start" type="text" readonly>
        to
        <input class="chart-datepicker" ng-model="c.end" id="chart-end" type="text" readonly>
        day ends at
        <select ng-model="c.cutoff">
        {% for n in cutoff %}
            <option value="{{ n }}">{{ n }}:00</option>
        {% endfor %}
        </select>
        <button ng-disabled="!c.enableButton()" ng-click="c.doUpdate()">Go</button>
    </div>
    <h2>Sleep chart</h2>

    <div id="chart-wrapper">
        <div class="loading" ng-show="c.loading"></div>
        <flot id="chart" dataset="myData" options="myChartOptions">
        </flot>
    </div>
</div>
{% endblock %}
