{% extends "base.html" %}

{% block bar_right %}
<ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'prefs' %}">Preferences</a></li>
    <li><a href="{% url 'export' %}">Export</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% endblock %}
