input[type='text'], input[type='password'], button, input[type='submit'], select {
    border: 1px #333 solid;
    padding: 0 0.5em;
    height: 2em;
    box-sizing: border-box;
    border-radius: 0.5em;
    background: white;
    font-weight: bold;
    color: #333;
    transition-duration: 0.25s;

    &:active, &:hover {
        background: #C8E1FF;
    }

    &[disabled] {
        color: #999;
        border-color: #999;
    }
}
