@import "_forms"

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #52A3FF;
    transition-duration: 0.5s;

    &:hover {
        color: #9BCAFF;
    }
}

html {
    background: url('../img/clouds.png') repeat-x bottom left fixed, linear-gradient(to bottom, #9BCAFF 0%, #C8E1FF 100%);
    min-height: 100%;
}

body {
    font-size: 10pt;
    font-family: "droid sans";
    padding-top: 20pt;
    text-align: left;
    color: #333;
    height: 100%;
}

#bar {
    height: 20pt;
    background: white;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;

    box-shadow: 0 0 0 6pt rgba(255, 255, 255, 0.25);

    #bar-left {
        float: left;
    }

    #bar-right {
        float: right;

        ul li {
            float: left;
            list-style-type: none;

            a {
                display: block;
                padding: 0 10pt;
                height: 100%;
                line-height: 2;
                color: black;
                border-left: 1px #ddd solid;
                font-weight: bold;
                transition-duration: 0.2s;

                &:hover {
                    background-color: #B4D6FE;
                    color: white;
                }
            }
        }
    }

    h1 {
        font-size: 12pt;
        line-height: 1.7;
        margin: 0 5px;
        display: inline;

        a {
            color: #333;
        }
    }

    #subtitle {
        font-size: 8pt;
        color: #999;
        line-height: 2.7;
        font-style: italic;
        display: inline;
    }
}

#page {
    width: 800px;
    background: white;
    margin: 30px 0 200px 100px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 0 6pt rgba(255, 255, 255, 0.25);
    overflow: hidden;

    & > h1 {
        font-size: 14pt;
        margin-bottom: 0.5em;
    }

    & > p {
        line-height: 1.6;
        text-align: justify;
        margin: 8pt 0;
    }
}

#title {
    padding-left: 46px;
    background: transparent url('../img/pillow.png') no-repeat left center;
    height: 1.6em;
    line-height: 1.6;
}

#footer {
    clear: both;
    border-top: 1px #ddd solid;
    margin-top: 20px;
    font-size: 8pt;
    color: #999;
    padding-top: 20px;

    h1 {
        font-size: 10pt;
    }

    p {
        margin: 0;
    }

    .footer-right {
        float: right;
        text-align: right;
    }
}

#messages {
    list-style-type: none;

    li {
        border: 1px black solid;
        background: #eee;
        padding: 0.5em;
        margin: 0.5em;

        &.status-error {
            border-color: red;
            background-color: #FFC8C8;
            color: red;
        }

        &.status-success {
            border-color: #207F24;
            background-color: #D9FFDA;
            color: #207F24;
        }
    }
}

li {
    list-style-position: inside;
}

p {
    margin-bottom: 1em;
}

section.info {
    background: #eee;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;

    ul {
        margin: 0.5em;
    }
}
