.fill-width {
    margin: 0 -20px;
}

p.note {
    background: #FFFFC4;
    padding: 1em;
    border-radius: 1em;

    &.export {
        position: fixed;
        top: 3em;
        right: 0.5em;
        width: 10em;
    }
}
