#forms {
    width: 300px;
    margin: 50px auto 0 auto;

    input {
        transition-duration: 0.5s;
    }

    label {
        display: block;
        font-size: 8pt;
        color: #999;
        font-weight: bold;
    }

    h1 {
        font-size: 10pt;
        margin-bottom: 0.5em;
    }

    input[type="text"], input[type="password"] {
        width: 120px;
        border: 1px #999 solid;
        padding: 3px;
        margin-top: 2px;
        border-radius: 0.25em;

        &:focus {
            border-color: #333;
        }
    }

    input[type="submit"] {
        background: white;
        padding: 2px;
        display: block;
        margin-top: 5px;
        border: 1px #999 solid;
        color: #333;
        font-size: 8pt;

        &:hover {
            cursor: pointer;
        }
    }
}

#register {
    width: 150px;
    float: left;
    margin-bottom: 20px;
}

#login {
    width: 150px;
    float: left;
}


.error {
    font-size: 80%;
    color: red;
    opacity: 0;
    margin-bottom: 0.25em;
    transition-duration: 0.5s;
    margin-top: 1pt;
}

.visible {
    opacity: 1;
}

input {
    &.good {
        border-color: #207F24 !important;
        background-color: #D9FFDA;
        color: #207F24;
    }

    &.bad {
        border-color: red !important;
        background-color: #FFC8C8;
        color: red;
    }
}
