#edit-area .buttons {
    float: right;
    margin-top: -30px;
}

#sleep-bar {
    border: 1px black solid;
    border-left: 0;
    border-right: 0;
    height: 75px;
    background: linear-gradient(to bottom, #666 0%, #999 100%);
    width: 840px;
    position: relative;
    margin-bottom: 30px;
    margin-left: -20px;
    margin-right: -20px;
    cursor: move;

    .sleep {
        height: 75px;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        z-index: 50;
        transition-duration: 0.25s;
        transition-property: background, border-color;
        cursor: move;

        &.edited {
            background: rgba(255, 0, 0, 0.5);
            border-color: red;
        }

        .drag-bar {
            width: 10px;
            height: 100%;
            background: white;
            cursor: col-resize;
            position: absolute;
            top: 0;
            border: 1px black solid;
            border-bottom: 0;
            border-top: 0;
            opacity: 0;
            transition-duration: 0.5s;

            &.left {
                border-right: 0;
                left: -10px;
            }

            &.right {
                border-left: 0;
                right: -10px;
            }
        }

        &:hover .drag-bar {
            opacity: 1;
        }

        p {
            color: #333;
            opacity: 0;
            transition-duration: 0.5s;
            position: absolute;
            z-index: 200;
            background: white;
            padding: 0.25em 0.5em;
            border: 1px #333 solid;
            border-radius: 0.5em;
            font-size: 80%;
            font-weight: bold;
            text-align: center;
            margin: 0;

            &.hours {
                width: 100px;
                height: 2em;
                top: 50%;
                left: 50%;
                display: block;
                margin-top: -1em;
                margin-left: -50px;
                padding: 0.5em 0;
                line-height: 2;
                padding: 0;
                font-size: 120%;

                .delete {
                    display: none;
                    cursor: pointer;
                    color: red;
                }

                &:hover span {
                    display: none;
                }

                &:hover .delete {
                    display: block;
                }
            }

            &.marker {
                width: 85px;

                &.start {
                    top: -1em;
                    left: 0.25em;
                    border-bottom-left-radius: 0;
                }

                &.end {
                    bottom: -1em;
                    right: 0.25em;
                    border-top-right-radius: 0;
                }
            }
        }

        &:hover p {
            opacity: 1;
        }
    }

    .midnight {
        height: 75px;
        width: 2px;
        background: black;
        position: absolute;
        margin-left: -1px;
        z-index: 25;

        p {
            width: 150px;
            margin-left: -75px;
            text-align: center;
            margin-top: 80px;
            font-size: 80%;
            color: #999;
        }
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black url('../img/loading.gif') no-repeat center center;
    opacity: 0.5;
    z-index: 10000;
    transition-duration: 0.25s;
    cursor: progress;
}

.ui-datepicker {
    z-index: 10000 !important;
}

#datepicker, .chart-datepicker {
    width: 7em;
    text-align: center;
}

#chart-wrapper {
    position: relative;
}

#chart {
    width: 100%;
    height: 300px;
    display: block;
}

.chart-dates {
    float: right;
}
