{% extends "base.html" %}

{% block content %}
<h1>404 - Page not found</h1>

<p>What ever it is that you're looking for, it doesn't seem to be here. Maybe it will appear after a nap :)</p>
{% endblock %}
